<ul class="nav nav-underline" style="background-color: aqua; align-items: center;">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/loanapplicant" id="applyLoan">ApplyLoan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/loanstat" id="loanStatus">Loan Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile" >Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" id="logout">Log out</a>
    </li>
  </ul>