.bg-img{
    background-image:url("https://t4.ftcdn.net/jpg/05/78/01/23/360_F_578012346_nkvKsp5m1Ec1E75z3MSEwuvHfmx8hato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}