
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <ul class="nav nav-pills nav-fill;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Applied Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="loandetails">Loan Details</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="admin/loansdetails">Link</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="">log out</a>
        </li>
      </ul>
</nav>
